<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Open Face Chinese Poker game {{game_id}}</title>
    <link href="../static/css/game.css" rel="stylesheet">
</head>

<body>

<h1>Open Face Chinese Poker</h1>

<div>
{% for i in range(1, game_state['playerCount'] + 1) %}
    {% if i % 2 != 0 %}
    <div class ="p_left{% if i > 2 %} clear{% endif %}">
    {% else %}
    <div class="p_right">
    {% endif %}
        <h2>Player {{i}}</h2>
        <div id="player{{i}}Top">
            {% for j in range(1, 4) %}
                <div class="placement" id="player{{i}}Top{{j}}">
                {% set c = game_state['gameState']['placements'][i|string]['topRow'][j-1] %}
                {% if c is not none and c|length > 0 %}
                    <img src="../static/cards/{{c}}.png" id={{c}} class="card" draggable="true">
                {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="player{{i}}Middle">
            {% for j in range(1, 6) %}
                <div class="placement" id="player{{i}}Middle{{j}}">
                {% set c = game_state['gameState']['placements'][i|string]['middleRow'][j-1] %}
                {% if c is not none and c|length > 0 %}
                    <img src="../static/cards/{{c}}.png" id={{c}} class="card" draggable="true">
                {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="player{{i}}Bottom">
            {% for j in range(1, 6) %}
                <div class="placement" id="player{{i}}Bottom{{j}}">
                {% set c = game_state['gameState']['placements'][i|string]['bottomRow'][j-1] %}
                {% if c is not none and c|length > 0 %}
                    <img src="../static/cards/{{c}}.png" id={{c}} class="card" draggable="true">
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>

<div id="action_bar" class="clear padding_top">
    <button type="button" id="playButton">Play</button>
    <div class="clear padding_top">
        {% for i in range(1, 6) %}
        <div class="placement" id="cardToPlace{{i}}"></div>
        {% endfor %} 
    </div>
</div>

</body>

<script>
    var game_id = "{{ game_id }}";
</script>

<script src="../static/js/ofc.js"></script>

</html>
