.placement
{
	border: 1px solid #000000; 
	width: 109px; 
	height: 150px; 
	display: inline-block;
}

.card
{
	display: block;
}

.p_left
{
	float: left;
}

.p_right
{
	float: right;
}

.clear
{
	clear: both;
}

.padding_top 
{
	padding-top: 1%;
}
